[Unit]
Description=PostgreSQL database server
Documentation=http://www.postgres.cn/docs/17/index.html
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=${superuser}
ExecStart=${pgsql_prefix}/bin/postgres -D ${pgsql_data}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
